.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 0 auto 20px;
  width: 300px;
  background-color: #fff;
  box-shadow: 0 4px 6px 0 rgb(100, 102, 126);
  border-radius: 5px;
}

.description {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 100%;
  height: auto;
  display: block;
}

.name {
  margin: 0;
  padding: 25px 0 20px;
  font-size: 25px;
}

.tag,
.location {
  margin: 10px 0;
  color: rgb(158, 158, 158);
  font-size: 15px;
}

.stats {
  display: flex;
  padding-inline-start: 0;
  background-color: rgb(218, 218, 218);
}

.statsItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.label {
  font-size: 20px;
  font-style: bold;
}

.quantity {
  font-size: 18px;
  font-style: italic;
}
